{% extends "base.html" %}
{% load staticfiles %}
{% block extra_head %}
{% endblock %}
{% block content %}
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <h1>42 Coffee Cups  Test Assignment</h1>
      </div>
    </div>
  </nav>
{% if aboutme %}
  <div class="container">
    <div class="col-lg-6 left">
      <p>Name: {{ aboutme.name }}</p>
      <p>Last name: {{ aboutme.last_name }}</p>
      <p>Date of birth: {{ aboutme.date_of_birth }}</p>
      <p>Bio: {{ aboutme.bio|linebreaksbr }}</p>
    </div>
    <div class="col-lg-6">
      <p>Contacts</p>
      <p>Email: {{ aboutme.email }}</p>
      <p>Jabber: {{ aboutme.jabber }}</p>
      <p>Skype: {{ aboutme.skype }}</p>
      <p>Other contacts: {{ aboutme.other_contacts|linebreaksbr }}</p>
    </div>
  </div>
{% else %}
  <div class="container">
    <div class="col-lg-6 left">
      <h1>No active user is found.</h1>
    </div>
  </div>
{% endif %}
{% endblock %}